<div class="container">
    <form [formGroup]="form">
        <mat-checkbox *ngFor="let cd of columnDefinitions" [formControlName]="cd.def">{{cd.label}}</mat-checkbox>
    </form>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>

        <!-- NCC Column -->
        <ng-container matColumnDef="provider">
            <mat-header-cell *matHeaderCellDef> provider </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.provider}} </mat-cell>
        </ng-container>

        <!-- phone Column -->
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>

        <!-- Money Column -->
        <ng-container matColumnDef="money">
            <mat-header-cell *matHeaderCellDef> Money </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.money}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getDisplayedColumns()">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns()"></mat-row>
    </mat-table>
</div>