<div class="container">
    <mat-checkbox *ngFor="let task of columnDefinitions"[(ngModel)]="task.hide">{{task.label}}</mat-checkbox>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8 overflow-x-auto" matSort>
        <ng-container *ngFor="let column of columnDefinitions" [cdkColumnDef]="column.def">
            <mat-header-cell *cdkHeaderCellDef>{{ column.label }}</mat-header-cell>
            <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>